<div class="container">
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item Name</th>
          <th scope="col">Quantity</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Item 15464548797498749870987979879879</td>
          <td>1</td>
          <td>Apr 20, 2018</td>
          <td>$15</td>
        </tr>
      </tbody>
    </table>
  </div>>
</div>
